
*, *:before, *:after {
  box-sizing: border-box;
}

body {
  background: #202020 url(../images/bg.png) 0 0 repeat;
  color: #fff;
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  font-size: 14px;
  padding-top: 20px;
}

nav, section, footer {
  margin-bottom: 30px;
}

h1, h2, h3 {
  color: #fff;
}

h4 {
  color: red;
}

a {
  color: red;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

.grid-container {
  max-width: 960px;
}

.img-responsive {
  display: block;
  height: auto;
  max-width: 100%;
}

.btn {
  background: red;
  background-image: linear-gradient(to bottom, #FF0000 0%, #660000 100%);
  border-radius: 3px;
  border: 0;
  box-shadow: 0 1px 3px #111;
  color: #fff;
  font-size: 12px;
  padding: 5px 8px;
  text-decoration: none;
  text-shadow: #000 0 -1px;
  text-transform: uppercase;
}
.btn span:first-of-type {
  margin-left: 10px;
}
.btn span + span {
  margin-left: -7px;
}

.btn:hover {
  background-image: linear-gradient(to bottom, #C40000 0%, #660000 100%);
  text-decoration: none;
}


/* FOOTER */
footer {
  color: #999;
  font-size: 12px;
}

.companybrand {
  float: left;
}
.company-text {
  float: left;
  margin-left: 10px;
  margin-top: 20px;
}


/* NAV */
.brand {
  float: left;
}

.nav {
  border-bottom: 1px solid red;
  padding-bottom: 5px;
  position: relative;
}
.nav-border-fade {
  bottom: 0;
  height: 1px;
  margin-bottom: -1px;
  position: absolute;
  width: 100px;
}
.nav-border-left-fade {
  background-image: linear-gradient(to left, transparent 0%, #202020 100%);
  left: 0;
}
.nav-border-right-fade {
  background-image: linear-gradient(to right, transparent 0%, #202020 100%);
  right: 0;
}

.nav-list {
  float: right;
  list-style: none;
  margin: 0;
  margin-top: 50px;
  padding: 0;
}


.nav-list-item {
  display: inline-block;
  font-weight: bold;
}

.nav-list-item-btn {
  color: #fff;
  padding: 2px 10px;
  text-decoration: none;
  text-transform: uppercase;
}
.nav-list-item-btn:hover {
  color: red;
  text-decoration: none;
}

.nav-list-item-active {
  font-size: 1.5em;
}

.nav-list-mobile-trigger {
  display: none;
}

@media screen and (max-width: 767px) {
  #nav {
    background: #202020;
    min-height: 55px;
    opacity: 0.9;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9;
  }

  .brand {
    float: none;
    position: absolute;
    right: 20px;
    top: 10px;
  }
  .brand img {
    height: 40px;
  }

  .nav {
    border-bottom: 0;
  }

  .nav-list {
    display: none;
    float: none;
  }
  .nav-list-open {
    display: block;
  }
  .nav-list-item {
    display: block;
    padding: 3px 0;
  }

  .nav-list-mobile-trigger {
    color: #fff;
    display: inline;
    font-size: 36px;
    left: 20px;
    position: absolute;
    text-decoration: none;
    top: 10px;
  }
}

/* PROMO */
.promo-image {
  border: 7px solid #fff;
}

.promo-text {
  margin: 0 20px;
}

@media screen and (max-width: 767px) {
  #promo {
    margin-top: 50px;
  }
}

/* CONTENT */
.content-area {
  background: #fff;
  color: #000;
}

.content-area h1, .content-area h2, .content-area h3 {
  color: #000;
}


.content-area {
  min-height: 700px;
  position: relative;
}

.content-text {
  padding: 20px;
  padding-right: 320px;
}

.content-sponsor {
  border-left: 1px solid #ccc;
  bottom: 20px;
  padding: 20px;
  position: absolute;
  right: 0;
  top: 20px;
  width: 300px;
}

.sponsor-list-item {
  display: block;
  text-align: center;
}



@media screen and (max-width: 767px) {
  .content-text {
    padding-right: 20px;
  }
  .content-sponsor {
    position: static;
    width: auto;
  }
}
