<h1>Dagskrá Lean Ísland 2013</h1>
<table height="568" width="600">
    <tbody>
        <tr class="odd">
            <td>
                <h3>
                    <strong>Tími</strong>
                </h3>
            </td>

            <td colspan="2">&nbsp;</td>
        </tr>

        <tr>
            <td>
                <strong>8:30 - 9:00</strong>
            </td>

            <td colspan="2" align="center">Morgunmatur og skráning
                <br>
            </td>
        </tr>

        <tr class="odd">
            <td>
                <strong>9:00 - 9:10</strong>
            </td>

            <td colspan="2" align="center">Setning ráðstefnu</td>
        </tr>

        <tr>
            <td>
                <strong>9:10 - 10:10</strong>
            </td>

            <td colspan="2">
                <strong><a href="#dant">Lykilræða: The Practice of Lean: The science of working together effectively</a>&nbsp;</strong>
                <strong>
                    <br>
                    <a href="/media/2013/DanJones1.pdf" class="file_pdf" target="_blank" title="Slides (PDF skjal)">
                        <span class="icon">(PDF skjal)</span>Slides</a>
                    <br>
                </strong>
                <br>Daniel T. Jones
                <br>
            </td>
        </tr>

        <tr class="odd">
            <td>
                <strong>10:10 - 10:30</strong>
            </td>

            <td colspan="2" align="center">Kaffi og spjall</td>
        </tr>

        <tr>
            <td>&nbsp;</td>

            <td align="center">
                <strong>Salur A</strong>&nbsp;</td>

            <td align="center" width="40%">
                <strong>Salur B</strong>
                <br>
                <br>
            </td>
        </tr>

        <tr class="odd">
            <td>
                <strong>10:30 - 11:15</strong>
            </td>

            <td rowspan="2" width="40%">
                <strong><a href="#bjarte">Beyond Budgeting</a>&nbsp;</strong>
                <br>
                <a href="/media/2013/BjarteBogsnes.pdf" class="file_pdf" target="_blank" title="Slides (PDF skjal)">
                    <span class="icon">(PDF skjal)</span>
                    <strong>Slides</strong>
                </a>
                <br>
                <br>Bjarte Bogsnes</td>

            <td width="40%">
                <strong><a href="#viktoria">Using A3 as a strategy deployment tool at Össur</a>
                    <br>
                    <a href="/media/2013/ViktoriaJensdottir.pdf" class="file_pdf" target="_blank" title="Slides (PDF skjal)">
                        <span class="icon">(PDF skjal)</span>Slides</a>
                    <br>
                </strong>
                <span>
                    <br>Viktoría Jensdóttir</span>
                <br>
            </td>
        </tr>

        <tr>
            <td>
                <strong>11:15 - 12:00</strong>
            </td>

            <td width="40%">
                <strong><a href="#marel">Value Stream Mapping in Marel</a>
                    <br>
                </strong>
                <a href="/media/2013/AdalheidurOgBjorgvin.pdf" class="file_pdf" target="_blank" title="Slides (PDF skjal)">
                    <span class="icon">(PDF skjal)</span>
                    <strong>Slides</strong>
                </a>
                <br>Björgvin Víkingsson and Aðalheiður María Vigfúsdóttir</td>
        </tr>

        <tr class="odd">
            <td>
                <strong>12:00 - 13:00</strong>
            </td>

            <td colspan="2" align="center">Hádegismatur</td>
        </tr>

        <tr>
            <td>
                <strong>13:00 - 13:45</strong>
            </td>

            <td>
                <strong><a href="#dant2">Building a Lean Management System</a>
                </strong>
                <br>
                <a href="/media/2013/DanJones2.pdf" class="file_pdf" target="_blank" title="Slides (PDF skjal)">
                    <span class="icon">(PDF skjal)</span>
                    <strong>Slides</strong>
                </a>
                <br>
                <br>Daniel T. Jones
                <br>
            </td>

            <td width="40%">
                <a href="#dadi">
                    <strong>Visual Management</strong>
                </a>
                <br>
                <a href="/media/2013/DadiIngolfsson.pdf" class="file_pdf" target="_blank" title="Slides (PDF skjal)">
                    <span class="icon">(PDF skjal)</span>
                    <strong>Slides</strong>
                </a>
                <br>
                <br>
                <span>Daði Ingólfsson</span>
                <br>
            </td>
        </tr>

        <tr class="odd">
            <td>
                <strong>13:50 - 14:35</strong>
            </td>

            <td>
                <span>
                    <strong><a href="#bill">Toyota Kata</a>
                    </strong>
                    <br>
                </span>
                <strong>
                    <a href="/media/2013/BillCostantino.pdf" class="file_pdf" target="_blank" title="Slides (PDF skjal)">
                        <span class="icon">(PDF skjal)</span>Slides</a>
                </strong>
                <br>
                <br>
                <br>Bill Costantino
                <br>
            </td>

            <td width="40%">
                <strong><a href="#ben">Practical approaches to increase curiosity and experimenting with change</a>
                </strong>
                <br>
                <a href="/media/2013/BenjaminMitchell.pdf" class="file_pdf" target="_blank" title="Slides (PDF skjal)">
                    <span class="icon">(PDF skjal)</span>
                    <strong>Slides</strong>
                </a>
                <br>
                <span>Benjamin Mitchell</span>
                <br>
            </td>
        </tr>

        <tr>
            <td>
                <strong>14:35 - 15:00</strong>
            </td>

            <td colspan="2" align="center">Kaffi og spjall</td>
        </tr>

        <tr class="odd">
            <td>
                <strong>15:00 - 17:00</strong>
            </td>

            <td colspan="2">
                <strong>Opið rými (Open Space)</strong>
            </td>
        </tr>

        <tr>
            <td width="20%">
                <strong>17:00 - 18:00</strong>
            </td>

            <td colspan="2" align="center">Kokteill og meira Opið rými
                <br>
            </td>
        </tr>
    </tbody>
</table>
<br>


<h2>Lýsingar á fyrirlestrum</h2>
<br>


<h3 id="dant">Fyrirlestur 1: The Practice of Lean: The science of working together effectively
    <br>
</h3>
<br>
<img src="/media/leaniceland/small/dan-mugshot.png" alt="Daniel T. Jones" title="dan-mugshot">

<p>
    <em>Daniel T. Jones</em>
</p>

<p>Where does lean come from and why has it spread across industries and the world? How does it change the way we manage and work together to create more value for customers while using less resources? What opportunities does lean open up for new business models in the future?</p>

<h3 id="dant2">Fyrirlestur 2: Building a Lean Management System</h3>

<p>This talk will go deeper into the three essential elements of lean management:
    <br>
</p>

<ul>
    <li>
        <span>Hoshin Planning</span>
    </li>

    <li>
        <span>Value Stream Analysis</span>
    </li>

    <li>
        <span>Standard Work and Gemba Management</span>
    </li>
</ul>

<p>Bring in your questions about using these in your organization.</p>
<br>


<h4>Bio</h4>

<p>Daniel T Jones is the author of The Machine that Changed the World, Lean Thinking and Lean Solutions. He is the founding Chairman of the Lean Enterprise Academy in the UK and Senior Advisor to the Lean Global Network. He has worked with many pioneering organisations over the last 25 years to spread lean thinking across sectors and across the globe.</p>
<hr>

<h3 id="bjarte"></h3>

<h3 id="bjarte">Beyond Budgeting&nbsp;- a management model for new business and people realities
    <br>
</h3>

<div>
    <br>
</div>

<p>
    <img src="/media/leaniceland/small/bjarte-mugshot.JPG" alt="Bjarte Bogsnes" title="bjarte-mugshot">
    <br>
</p>

<p>
    <em>Bjarte Bogsnes</em>
</p>

<p>
    <span>Learn about&nbsp;Beyond Budgeting and the&nbsp;Statoil implementation journey. What are the problems with traditional management, including budgeting?</span>
</p>

<div>
    <ul>
        <li>The Beyond Budgeting principles and companies on the journey</li>

        <li>Statoil's "Ambition to Action" model; redefining performance - dynamic and relative targets and a holistic performance evaluation</li>

        <li>Dynamic forecasting and resource allocation and no traditional budgets</li>

        <li>From calendar-driven to event-driven; a more self-regulating management&nbsp;model</li>
    </ul>
</div>

<div>
    <br>


    <h4>
        <span>B</span>
        <span>io</span>
    </h4>

    <p>Bjarte Bogsnes has a long international career, both in Finance and HR. He is currently heading up the Beyond Budgeting implementation at Statoil, Scandinavia's largest company with operations in 36 countries and a turnover of 130 bn USD. On Fortune 500, the company ranked #1 on Social responsibility and #7 on Innovation in 2011. &nbsp;Transparency International has named Statoil the most transparent listed company in the world.</p>

    <p>Bjarte is Chairman of Beyond Budgeting Round Table Europe (BBRT), and is a popular international business speaker. He is the author of "Implementing Beyond Budgeting - Unlocking the Performance Potential", where he writes about his implementation experiences. Statoil realized that traditional leadership and management practices no longer work in today's competence organizations operating in business environments more complex, dynamic and unpredictable than ever. The company implemented innovative alternatives to traditional management, like abolishing traditional budgets and calendar-based management in favor of more decentralized, agile and human processes.</p>
    <br>
    <hr>

    <h3 id="ben"></h3>

    <h3 id="ben">Practical approaches to increase curiosity and experimenting with change
        <br>
    </h3>

    <div>
        <br>
    </div>

    <p>
        <em>
            <img src="/media/2013/benjamin-mugshot.jpg" alt="Benjamin Mitchell" title="benjamin-mugshot">
            <br>
        </em>
    </p>

    <p>
        <em>Benjamin Mitchell</em>
    </p>

    <p>The most effective, long-lasting changes come when people make a free and informed choice to commit to trying new approaches. For many change agents the challenge is how to create conditions where this might happen. Some advice focuses on&nbsp;
        <span>creating a burning platform in order to 'hold a gun to their heads', whilst other approaches are equally manipulative but focus on easing-in approaches and asking leading questions.</span>
    </p>

    <p>
        <br>This talk will cover experiences changing software product development organisations, based on making processes visible, negotiating to try new approaches and creating small experiments to let people decide for themselves if they want to change. These experiences have come introducing Kanban and A/B testing to large Investment Banks and recently, at BBC Worldwide.</p>

    <h4>Bio</h4>

    <p>I work with leading software product development organisations to assist them to become more effective at achieving their business goals. I do this through helping senior leaders and teams focus on building and validating what the right products are by understanding customer demand and using iterative development approaches. I accelerate learning in organisations by helping them develop productive communication skills that allow them to make better quality decisions. I have practical real-world experience delivering software projects with exceptional results based on practical, implementable advice. I am a highly-rated international speaker on applying innovative approaches, such as Kanban, to software development. Based in London, I work with clients as a speaker, executive coach or team consultant.</p>
    <hr>

    <h3 id="davis">
        <span>Toyota Kata</span>
        <br>
    </h3>

    <div>
        <br>
    </div>

    <p>
        <em>
            <img src="/media/leaniceland/small/bill-mugshot.jpg" alt="Bill Costantino" title="bill-mugshot">
            <br>Bill Costantino</em>
    </p>

    <p>Businesses, companies, and enterprises all around the world are facing an environment of accelerating change and increasing volatility. We are often confronted by external pressures that require us to change, adapt, or innovate in order to remain competitive. As these external pressures mount, we must solve the problems facing us more quickly and with fewer resources than in the past. In order to survive and thrive in today's dynamic world, we need new methods of managing that allow us to utilize the full potential of all our employees as they work to solve challenges they have never seen before.</p>

    <div>
        <br>
    </div>

    <p>
        <strong>Toyota Kata is a management approach</strong>that develops problem solving capability within our entire workforce. It steadily develops creativity, adaptability, and innovation through daily practice of simple but powerful routines of thought and behavior (kata). It trains managers and leaders to coach their teams in ways that enable them to solve new challenges they've never dealt with before. Toyota Kata provides the means for responding quickly and creatively to our increasing dynamic business conditions, while more fully tapping the energy and ingenuity of our greatest resource – our people. Toyota Kata is content-free and can be applied in any business environment or situation where adaptation, creativity, and innovation is called for.</p>

    <div>
        <br>
    </div>

    <h4>Bio</h4>

    <p>Bill Costantino was one of the first 200 employees hired by Toyota in their first US factory in Georgetown, Kentucky, where he was group leader for 7 years. For the last 19 years, he has worked as an independent consultant, supporting companies in diverse industries making the leap to lean management. Bill's five-year effort converting Cedar Works to lean manufacturing is summarized in a chapter of the book Becoming Lean. For the last four years, he has collaborated closely with Mike Rother, author of Toyota Kata. Rother and Costantino have developed and co-lead a variety of professional development seminars and workshops for the University of Michigan and Lean Enterprise Institute. &nbsp;
        <br>
    </p>

    <p>Bill's current focus is in executive coaching, lasting culture change, and strategy development for large scale organizations. He provides integration and alignment of the entire organizational chain of command from CEO to shop floor operators in the most practical and effective ways appropriate to each level. Bill is founder of the W3 Group, a network of highly skilled and experienced lean consultants trained in Toyota fundamentals.</p>
    <hr>

    <h3 id="viktoria"></h3>

    <h3 id="viktoria">
        <strong>Using A3 as a strategy deployment tool at Össur</strong>
    </h3>

    <div>
        <strong>
            <img src="/media/2012/small/ViktoriaJensdottir.jpeg" alt="Viktoria" title="ViktoriaJensdottir">
            <br>
        </strong>
    </div>

    <div>
        <em>Viktoría Jensdóttir</em>
    </div>

    <div>
        <em>
            <br>
        </em>
    </div>

    <div>
        <p>In the lean world one of the main things is to get everyone aligned towards common goals in order to get the best results. A strategy deployment methodology was developed in Japan to facilitate this, called Hoshin Kanri. There are a few ways to do that, some use an X-matrix while others use A3s, for instance.
            <strong>Össur Iceland have been using A3s to communicate goals throughout the manufacturing organization</strong>while Össur Americas uses the X-matrix.&nbsp;</p>

        <p>In this lecture Viktoría will go over what strategy deployment means to Össur Iceland, why they chose A3 to do it, go through their learning process on how they are making the A3s, doing catch-ball and cascading goals, and how that process has evolved and is still evolving. She will show examples of an A3 and an X-matrix, as well as comparing pros and cons.</p>
        <br>
    </div>

    <h4>Bio</h4>

    <p>
        <span>Viktoría is the Continuous Improvement and Safety Manager at Össur. She&nbsp;has a M.Sc in Industrial Engineering and got her first experience in lean working for Alcoa Fjarðaál when they were starting up their first plant in 20 years in eastern Iceland. At Alcoa she got first-hand experience on how lean and safety worked at a plant both while starting up and also in full operation. After working for Alcoa for several years she moved on to Össur where she is leading their Continuous Improvement and Safety efforts in Iceland and working with a global lean team within Össur.</span>
    </p>

    <p>
        <span>While working for Össur she has also been teaching lean methodology for a few Icelandic companies starting in their lean journeys and in the University of Iceland.</span>
    </p>
    <hr>

    <h3 id="dadi"></h3>

    <h3 id="dadi">
        <span>Visual Management</span>
    </h3>

    <div>
        <span>
            <br>
        </span>
    </div>

    <div>
        <span>
            <img src="/media/2013/small/Dadi.jpg" alt="dadi_ingolfsson" title="dadi_ingolfsson">
            <br>
        </span>
    </div>
    <em>Daði Ingólfsson</em>

    <div>
        <br>
    </div>

    <p>Sensing what is going on in our work can be very challenging, especially in knowledge work where we do most of our work on the computer. Coming into most office environments today you will have a hard time figuring out answers to questions like:</p>

    <div>
        <ul>
            <li>
                <span>What work is in progress, and what people are working on it?</span>
            </li>

            <li>
                <span>Where do we have problems in the work, and what's being done about them?</span>
            </li>

            <li>
                <span>What are our goals and are we going to reach them?</span>
            </li>

            <li>
                <span>How well does the current workflow support the purpose of the work?</span>
            </li>
        </ul>
    </div>

    <p>
        <span>In this talk we'll be discussing how Visual Management can help answer these and other questions. We'll start by examining the purpose of Visual Management as well as its benefits and some of the barriers to having success with it. However, most of the talk will be about practical Visual Management with lots of visual examples of how my company, Sprettur, makes use of Visual Management. Furthermore, we'll discuss how you can use Visual Management in your own workplace.</span>
    </p>

    <h4>
        <span>Bio</span>
    </h4>

    <p>
        <span>
            <strong>Daði</strong>
            <span>&nbsp;is a knowledge sponge from Reykjavik, Iceland who's been working as a Lean-Agile Coach for the last five years. Before that he was a programmer for seven years where good design, sustainable development and technical excellence were his main obsessions. Today, he is one of the founders and owners of&nbsp;&nbsp;Sprettur (</span><a href="http://www.sprettur.is/" target="_blank" title="www.sprettur.is (Opnast í nýjum vafraglugga) (Opnast í nýjum vafraglugga)" class="external">www.sprettur.is <span class="icon">(Opnast í nýjum vafraglugga)</span> </a>
            <span>), a&nbsp;pioneering software development and consulting company in Iceland. He's currently most interested in&nbsp;designing great products,&nbsp;coaching, understanding organizations, culture and human beings.</span>
        </span>
    </p>
    <hr>

    <h3 id="marel"></h3>

    <h3 id="marel">Value Stream Mapping in Marel</h3>

    <div>
        <br>
    </div>

    <div>
        <div>
            <img src="/media/2013/small/Adalheidur.jpg" alt="AdalheidurVigfusdottir" title="AdalheidurVigfusdottir">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
            <em>
                <img src="/media/2013/small/Bjorgvin.jpg" alt="BjorgvinVikingsson" title="BjorgvinVikingsson">
            </em>
            <br>
        </div>
        <em>Aðalheiður María &nbsp; &nbsp; &nbsp; &nbsp; Björgvin Víkingsson</em>
        <br>
    </div>

    <div>
        <em>Vigfúsdóttir</em>
    </div>

    <div>
        <br>
    </div>

    <p>
        <span>I</span>
        <span>n this lecture, Aðalheiður María and&nbsp;</span>
        <span>Björgvin</span>
        <span>&nbsp;will briefly discuss the theoretical aspects of Value Stream Mapping and then give practical examples from&nbsp;</span>
        <span>Marel</span>
        <span>. The main focus will be on how companies can benefit from using Value Stream Mapping to eliminate waste and improve their process flow. Also, based on their experience they will point out what a Value Stream facilitator has to keep in mind so that the work delivers desired/successful outcome.</span>
    </p>

    <h4>Bio</h4>

    <div>
        <br>
    </div>

    <p>
        <strong>Aðalheiður María Vigfúsdóttir
            <br>
        </strong>
        <span>Aðalheiður María is a Production Manager for electronics and scale assembly at&nbsp;</span>
        <span>Marel</span>
        <span>&nbsp;since June 2011. She has a M.Sc. in industrial engineering with focus on management and economics of innovation from Chalmers University of Technology. Despite being responsible for these two assembly cells she has also been leading lean management training at&nbsp;</span>
        <span>Marel</span>
        <span>&nbsp;Garðabær and involved in global activities regarding spreading best practices and sharing knowledge. Before taking on this position, Aðalheiður María worked as a manufacturing engineer at Össur 2008-2011 implementing lean, 6S and continuous improvement.</span>
    </p>

    <p>
        <span>
            <strong>Björgvin Víkingsson
                <br>
            </strong>
        </span>Björgvin Víkingsson is a strategic purchasing manager at Marel, where his current focus is on improving Marel's supply chain. He graduated in 2010 with M.Sc. in Supply Chain Management from the Swiss Federal Institute of Technology Zurich (ETH Zurich) and started working as a manufacturing engineer at Össur (2010-2011) implementing lean and continuous improvement projects. Björgvin has also been a board member of Lean management group at Stjornvisi since 2010 where they have held/hosted various lectures on Lean topics. Recently Björgvin has held workshops on Value Stream Mapping in collaboration with the University of Reykjavik.</p>
    <br>
</div>
