<h1>Lean Ísland 2013</h1>
<p>Lean Ísland er fyrir alla sem vilja ná 
    <strong>meiri árangri</strong> í sínum fyrirtækjum og stofnunum. Fyrirtæki og stofnanir í mörgum atvinnugreinum bæði þjónustu og framleiðslu eru byrjuð að nýta sér Lean stjórnun og hugsun. Með áherslum sínum á
    <strong>virði fyrir viðskiptavini</strong> og 
    <strong>umbótamenningu</strong> er Lean stjórnun að fá verðskuldaða athygli um heim allan. Ráðstefnan hentar fyrir byrjendur jafnt sem lengra komna.</p>

<h2>Tvær fyrirlestrarbrautir og Opið rými
    <img src="images/AllirFyrirlesararColor.png" alt="DanLeanThinking" title="DanLeanThinking" class="right">
</h2>

<p>Í ár verður enn meira úrval erlendra og innlendra Lean sérfræðinga á dagskrá ráðstefnunnar þar sem í boði verða tvær fyrirlestrabrautir í stað einnar. Á
    <span>herslan verður að sjálfsögðu áfram á Lean&nbsp;</span>
    <strong>stjórnun</strong>
    <span>,&nbsp;</span>
    <strong>hugsun</strong>
    <span>&nbsp;og&nbsp;</span>
    <strong>menningu</strong>
    <span>. Nánari upplýsingar um fyrirlestra og dagskrá má finna&nbsp;</span><a href="/dagskra">hér</a>
    <span>.&nbsp;</span>
</p>

<p>Önnur nýjung þetta árið er að eftir að öllum fyrirlestrum lýkur gefst þátttakendum og fyrirlesurum tækifæri til að búa til sína eigin ráðstefnudagskrá um það sem skiptir þau máli í svokölluðu Opnu rými (e. Open Space Technology). Til að sjá ítarlegra lýsingu á þessum hluta ráðstefnunnar <a href="/um-opid-rymi/">smellið hér</a>.</p>

<h2>Námskeið í ráðstefnuvikunni
    <img src="images/Bill.png" alt="DanBill" title="DanBill" class="right">
</h2>

<p>
    <span>Í ár eru tvö námskeið fyrirhuguð sem kennd verða af&nbsp;</span>
    <strong>Bill Costantino</strong>
    <span>. Hann er mikill reynslubolti í faginu og í báðum námskeiðum verður lagt mikið upp úr því að vera með góða blöndu hópumræðna, æfinga og fyrirlestra.</span>&nbsp;<a href="/namskeid/">Sjá nánari upplýsingar um námskeiðin</a>.</p>

<p>
    <br>
</p>

<p><a href="#/skraning/" class="btn">Skráning <span class="icon-arrow-right"></span><span class="icon-arrow-right"></span></a>
</p>
