<h1>Námskeið í Lean Ísland 2013 vikunni</h1>

<table cellspacing="0">
    <thead>
        <tr>
            <th>Dagsetning</th>

            <th>&nbsp;Námskeið</th>

            <th>Kennari&nbsp;</th>

            <th>Tími&nbsp;</th>

            <th>Salur á Hilton</th>
        </tr>
    </thead>

    <tbody>
        <tr class="odd">
            <th scope="row">&nbsp;6.maí</th>

            <td><a href="#billsem">Lean Management to Sustain Continuous Improvement - Toyota Kata Seminar</a>
                <span>&nbsp;</span>
                <br>
                <sup><span>&nbsp;</span>beginner, intermediate</sup>
                <br>
            </td>

            <td>Bill Costantino&nbsp;</td>

            <td>8:30-17:00&nbsp;</td>

            <td>&nbsp;H+I</td>
        </tr>

        <tr>
            <th scope="row">&nbsp;7.maí</th>

            <td colspan="2" align="center">
                <strong>Lean Ísland 2013&nbsp;</strong>
            </td>

            <td>8:30-18:00&nbsp;</td>

            <td>&nbsp;A+B</td>
        </tr>

        <tr class="odd">
            <th scope="row">&nbsp;8.maí</th>

            <td><a href="#billexp">Lean Management to Sustain Continuous Improvement - Toyota Kata in Practice</a>
                <br>
                <span>&nbsp;</span><sup>intermediate, advanced</sup>
                <br>
            </td>

            <td>Bill Costantino&nbsp;</td>

            <td>8:30-17:00&nbsp;</td>

            <td>&nbsp;F+G</td>
        </tr>
    </tbody>
</table>

<h2>
    <br>
</h2>
<br>

<hr size="2" width="100%">

<h2 id="billsem">
    <strong>Lean Management to Sustain Continuous Improvement
        <br>
    </strong>
    <strong>
        <span>- Toyota Kata Seminar</span>
    </strong>
</h2>

<div>
    <strong>beginner, intermediate</strong>
</div>

<div>
    <strong>
        <br>
    </strong>
</div>

<p>
    <strong>6. maí (8:30 – 17:00)</strong>
</p>

<p>
    <em>
        <img src="images/bill-mugshot.jpg" alt="Bill Costantino" title="bill-mugshot">
    </em>
</p>

<p>
    <em>Bill Costantino</em>
    <em>
        <br>
    </em>
</p>

<p>
    <strong>Seminar Purpose: Learn Continuous Improvement through interactive lectures</strong>
</p>

<p>
    <span>This seminar is for any organization, in any sector, that is searching for a better way to lead, manage, and develop people, to produce continuous improvement, adaptation, survival, and superior results. It describes a way of bringing an organization to the top and keeping it there by influencing how everyone in it thinks, acts, and reacts.</span>
</p>

<div>
    <ul>
        <li>
            <span>Introduces and explains new research findings about how Toyota manages its people.</span>
        </li>

        <li>
            <span>Develops awareness of a model of leadership and method of management through which organizations can more effectively generate adaptiveness, innovation, and sustained competitive advantage.</span>
        </li>

        <li>
            <span>Discusses how organizations are working to shift to this management model.</span>
        </li>
    </ul>
</div>
<br>


<p>
    <img src="images/tk-unclear-territory.gif" alt="Toyota Kata" title="tk-unclear-territory">
    <br>
</p>

<p>How can we lead our companies so that they will survive and thrive in the long term? Since the future lies beyond what we can see, the solutions that we employ today may not continue to be effective. So it is not the solutions themselves—whether lean techniques, today's profitable product, or any other—that provide sustained competitive advantage, but rather the ability to understand conditions and create fitting, smart solutions. Developing this capability in any organization is a core responsibility of leadership and management.
    <br>
</p>

<p>Drawing on six years of research about management and leadership at Toyota, which is presented in Mike Rother's book <a href="http://www.amazon.com/Toyota-Kata-Managing-Improvement-Adaptiveness/dp/0071635238" class="external" target="_blank" title="Toyota Kata (Opnast í nýjum vafraglugga)">Toyota Kata <span class="icon">(Opnast í nýjum vafraglugga)</span> </a>, this seminar will provide a research and experience-based look at two particular behavior routines, or kata (meaning pattern or form, translated literally from the Japanese as "way of doing things"):
    <br>
</p>

<ul>
    <li>
        <span>
            <strong>The Improvement Kata</strong>—a repeating routine of establishing challenging target conditions, working step-by-step through obstacles, and always learning from the problems we encounter.
            <br>
        </span>
    </li>

    <li>
        <span>
            <strong>The Coaching Kata</strong>—a pattern of teaching the Improvement Kata to employees at every level to ensure that it motivates their ways of thinking and acting.
            <br>
        </span>
    </li>
</ul>

<p>These research findings reach a level where we are talking in more detail about human psychology in organizations than is currently practiced. The described behavior routines are universal and applicable in many different organizations, old or new, manufacturing or otherwise, and they provide a new and more effective model for how to manage organizations.</p>
<hr size="2" width="100%">

<h2 id="billexp">
    <strong>Lean Management to Sustain Continuous Improvement
        <br>
    </strong>
    <strong>- Toyota Kata In Practice</strong>
</h2>

<div>
    <strong>intermediate, advanced</strong>
</div>

<div>
    <strong>
        <br>
    </strong>
</div>

<p>
    <strong>8. maí (8:30 – 17:00)</strong>
</p>

<p>
    <em>
        <img src="images/bill-mugshot.jpg" alt="Bill Costantino" title="bill-mugshot">
        <br>
    </em>
</p>

<p>
    <em>Bill Costantino</em>
</p>

<p>
    <strong>Course purpose:&nbsp;Learn Continuous Improvement through hands-on practice</strong>
</p>

<p>Toyota Kata is a brilliantly innovative management system that provides the means to achieve two equally important objectives:&nbsp;</p>

<div>
    <ul>
        <li>
            <span>
                <img src="images/Bill-teaching.png" alt="Bill-teaching" title="Bill-teaching" class="right">A methodology to achieve challenging objectives that are currently beyond a team's ability to reach, and…</span>
        </li>

        <li>
            <span>Developing managers and leaders as coaches for creating a culture of continuous improvement, adaption, and innovation. This is done through simple, easy-to-teach, time-efficient, daily routines.</span>
        </li>
    </ul>

    <div>
        <br>
    </div>

    <p>Based on Mike Rother's award winning book, <a href="http://www.amazon.com/Toyota-Kata-Managing-Improvement-Adaptiveness/dp/0071635238" class="external" target="_blank" title="Toyota Kata (Opnast í nýjum vafraglugga)">Toyota Kata <span class="icon">(Opnast í nýjum vafraglugga)</span> </a>, this 1-Day course provides a unique mix of theory and a hefty dose of hands-on practice. This intensive course provides a deep dive into two fundamental behavior patterns at the core of the Toyota Kata methodology: the
        <strong>5-Question Coaching Dialog</strong>and
        <strong>Rapid PDCA Cycles</strong>. Students gain direct insight into the power of these methods through repeated personal practice. At the heart of the training experience is a challenge that requires a high level of ingenuity and continuous improvement, on the spot, real time. Small teams work together striving to achieve ever higher levels of performance using the Toyota Kata methods, thereby gaining familiarity with those methods.
        <br>
    </p>

    <h3>Course objectives</h3>

    <ul>
        <li>
            <span>Provide an introduction to the core routines, mindset, and behavioral practices of Toyota
                <img src="images/students-and-dominos.png" alt="students-and-dominos" title="students-and-dominos" class="right">Kata.
                <br>
            </span>
        </li>

        <li>
            <span>Allow participants to experience the core routines of TK through interactive exercises.
                <br>
            </span>
        </li>

        <li>
            <span>Examine / explore how Toyota Kata is different from other management systems.
                <br>
            </span>
        </li>

        <li>
            <span>Understand how leaders and managers can create a lasting culture of continuous improvement through simple, easy-to-use, time efficient daily routines.
                <br>
            </span>
        </li>

        <li>
            <span>Develop familiarity and a budding sense of confidence with two essential Toyota Kata methods; the 5-Question Coaching Dialog and Rapid PDCA Cycles.
                <br>
            </span>
        </li>
    </ul>
</div>
