<h1>Skráning</h1>
<p>
    <strong><a href="https://docs.google.com/forms/d/10KillkRzPZcnu8_l-n7I4EzalWUlIPO61fvJC7pukS4/viewform" class="secure external" target="_blank" title="Smellið hér til að opna skráningarform (Opnast í nýjum vafraglugga)">Smellið hér til að opna skráningarform <span class="icon">(Opnast í nýjum vafraglugga)</span> </a>
    </strong>
    <br>
    <small>Fyrirspurnir og séróskir sendist á
        <a href="mailto:lean@sprettur.is" class="mailto">
            <strong>lean@sprettur.is</strong>
        </a>.</small>
    <br>
</p>

<h2>Verðskrá</h2>
<br>
<table cellspacing="0">
    <thead>
        <tr>
            <th>&nbsp;</th>

            <th>&nbsp;Fullt verð
                <br>
            </th>

            <th>&nbsp;Forsöluverð*</th>
        </tr>
    </thead>

    <tbody>
        <tr class="odd">
            <td scope="row">
                <strong>Lean Ísland 2013</strong>
                <br>
                <small>Innifalið: Miði á ráðstefnuna, morgun-, hádegis- og síðdegisverðarhlaðborð og léttar veitingar eftir ráðstefnuna.</small>
            </td>

            <td width="15%">39.500 kr.</td>

            <td width="15%">
                <strike>34.500 kr.</strike>
                <br>
            </td>
        </tr>

        <tr>
            <td scope="row">
                <strong>Námskeið:&nbsp;</strong><a href="/namskeid/#billsem">Lean Management to Sustain Continuous Improvement<br>
- Toyota Kata Seminar</a>
                <br>
                <small>Innifalið: Miði á námskeið, námskeiðsgögn, morgunverðar- og hádegisverðarhlaðborð ásamt kaffi og meðlæti.</small>
                <br>
            </td>

            <td>92.500 kr.</td>

            <td>
                <strike>85.500 kr.</strike>
                <br>
            </td>
        </tr>

        <tr class="odd">
            <td scope="row">
                <strong>Námskeið:&nbsp;</strong><a href="/namskeid/#billexp">Lean Management to Sustain Continuous Improvement<br>
- Toyota Kata in Practice</a>
                <br>
                <small>Innifalið: Miði á námskeið, námskeiðsgögn, morgunverðar- og hádegisverðarhlaðborð ásamt kaffi og meðlæti.</small>
                <br>
            </td>

            <td>92.500 kr.</td>

            <td>
                <strike>85.500 kr.</strike>
                <br>
            </td>
        </tr>
    </tbody>
</table>

<p>
    <small>*Forsölu lýkur 12. apríl. Athugið að takmarkað magn er í boði í forsölu.
        <br>
    </small>
</p>

<h3>Afbókunarskilmálar</h3>

<div>
    Viðburður verður að fullu endurgreiddur ef afbókun berst fyrir 15.apríl 2013. Viðburður verður að hluta til endurgreiddur ef afbókun berst eftir þann dag og fyrir 29.apríl 2013 eða 70% af gjaldi viðburðar. Engin endurgreiðsla verða vegna afbókunar sem berst eftir 29.apríl. Afbókun þarf að berast skriflega á lean@sprettur.is.
</div>
<br>










</div>
