<h1>Opið rými</h1>
<p>Þessi hluti ráðstefnunnar nýtir fundaform sem kallast á ensku Open Space Technology eða Opið rými á íslensku.</p>

<p>Hugmyndin með Opnu rými er sú að þegar hópur fólks kemur saman til að ræða ákveðið málefni, t.d. Lean aðferðir, þá sé leiðin til að fá bestu útkomuna sú að setja upp ramma fyrir umræðu hópsins sem er eins lítið heftandi og mögulegt er, setja í gang og láta fólk stýra sér sjálft eftir það.&nbsp;<br>
</p>

<p><img src="/media/opid-rymi/os-large-geek-space.jpg" alt="os-large-geek-space" title="os-large-geek-space" class="center"></p>

<p>Sögu þessa fundaforms má rekja til ársins 1983 þar sem maður að nafni&nbsp;<a href="http://www.openspaceworld.com/brief_history.htm" class="external" target="_blank" title="Harrison Owen (Opnast í nýjum vafraglugga)">Harrison Owen <span class="icon">(Opnast í nýjum vafraglugga)</span> </a>&nbsp;gerði uppgötvun. Hann hafði unnið baki brotnu í heilt ár við að skipuleggja stóra, alþjóðlega ráðstefnu og að henni lokinni voru ráðstefnugestir sammála um að þeir hefðu lært mest og kynnst flestum í kaffipásunum! Hmmm...</p>

<p>Eftir að hafa hugsað málið (yfir tveimur martini glösum) var hann kominn með hugmyndina að fundaforminu sem hann kallaði Opið rými. Á síðustu 30 árum hefur það þróast þannig að ráðstefnur og hópfundir sem taka frá tveimur tímum til tveggja daga, með tugum, hundruðum, jafnvel þúsundum þátttakenda nýta þetta form í margs konar tilgangi: þekkingarmiðlun og lausn mikilvægra mála einna helst.</p>

<h2>Hvernig virkar þetta?</h2>

<p>Allir fundir sem nýta þetta fundaform hafa Opnun og Lokun - það er í Opna rýminu þess á milli sem hlutirnir gerast.</p>

<h3>Opnun</h3>

<p>Í opnuninni mun lóðsinn (e. facilitator) fara yfir þemað, grunnreglur og aðra þætti Opins rýmis svo fólk skilji hvernig þetta virkar í heild.</p>

<p>Sérstaklega er farið yfir <em>Grunnreglurnar fjórar</em> og <em>Tveggja-fóta lögmálið</em>:</p>

<table cellspacing="0">
<tbody>
<tr class="odd">
<td><img src="/media/opid-rymi/os-4-principles.jpg" alt="os-4-principles" title="os-4-principles">&nbsp;</td>

<td>&nbsp;<img src="/media/opid-rymi/os-law-of-2-feet.jpg" alt="os-law-of-2-feet" title="os-law-of-2-feet"></td>
</tr>
</tbody>
</table>
<br>
 

<h3>Búa til dagskrána</h3>

<p>Þegar búið er að kynna það sem þarf til að allir skilji hvernig ferlið verður, er fólki boðið að leggja fram umræðuefni í dagskrána. Það er mikill fjölbreytileiki í málefnum sem koma fram og þú þarft ALLS EKKI að vera sérfræðingur í málefninu - sjá dæmi um efni sem þú getur lagt til:</p>

<ul>
<li><span>Spurningu eða efni sem þig langar að fá upplýsingar um.</span></li>

<li><span>Hugmynd sem þú vilt þróa og ræða við aðra.</span></li>

<li><span>Tól eða aðferðir sem þú vilt útskýra eða fá útskýringu á.</span></li>

<li><span>Vandamál sem þú þarft að leysa.</span></li>

<li><span>Reynslu, lærdóm eða lexíur sem þú vilt deila.</span></li>
</ul>

<p>Til að setja þitt umræðuefni í dagskrána þarftu að finna þér penna og "sticky" miða, skrifa efnið á miðann ásamt nafni, kynna efnið á innan við mínútu og velja því stað og stund í dagskránni (sem í upphafi er alveg tóm). Svona lítur þetta út í upphafi:</p>

<div>
<br>
</div>

<div>
<img src="/media/opid-rymi/os-facilitation.jpg" alt="os-facilitation" title="os-facilitation" class="center"><br>
</div>

<div>
<br>
</div>

<p>Því næst kemur fólk í röð með sínar hugmyndir, kynnir og finnur þeim stað á töflunni:</p>

<div>
<table cellspacing="0">
<tbody>
<tr class="odd">
<td><img src="/media/opid-rymi/os-proposing-topic.jpg" alt="os-proposing-topic" title="os-proposing-topic">&nbsp;</td>

<td>&nbsp;<img src="/media/opid-rymi/os-proposing-topic-2.jpg" alt="os-proposing-topic-2" title="os-proposing-topic-2"></td>
</tr>
</tbody>
</table>
</div>

<p>Að lokum eru allar hugmyndir komnar upp og þá er dagskráin tilbúin:</p>

<p><img src="/media/opid-rymi/os-final-agenda.jpg" alt="os-final-agenda" title="os-final-agenda" class="center"><br>
</p>

<p>Þess ber að geta að allt þetta ferli tekur einungis 20-25 mínútur!</p>

<h3>Markaðstorg hugmynda</h3>

<p>Nú þegar allar hugmyndir virðast vera komnar upp hefst hið svokallaða Markaðstorg hugmynda (e. Marketplace of Ideas). Þá færa allir sig að töflunni til að skoða hvað í boði er og ræða oft saman hvað er áhugavert og hvað ekki. Á meðan á þessu stendur getur verið að þeir sem lögðu til umræðuefni sjái að sum þeirra má sameina eða færa í tímaröð ef það hentar betur.</p>

<p><img src="/media/opid-rymi/os-what-to-attend.jpg" alt="os-what-to-attend" title="os-what-to-attend" class="center"><br>
</p>

<p>Fólk fer svo af stað þegar það er búið að ákveða sig hvaða umræðurými það vill fyrst taka þátt í - nú er rýmið í raun opið!</p>

<table cellspacing="0">
<tbody>
<tr class="odd">
<td><img src="/media/opid-rymi/os-large-space.jpg" alt="os-large-space" title="os-large-space"><br>
</td>

<td>&nbsp;<img src="/media/opid-rymi/os-sofa-space.jpg" alt="os-sofa-space" title="os-sofa-space"></td>
</tr>
</tbody>
</table>

<h3>Lokun</h3>

<p>Þegar dagskráin er tæmd koma allir saman í hring við töfluna og þar er fólki gefið tækifæri til að segja hvað þau hafi lært eða uppgötvað í Opna rýminu, og hvernig það ætlar að nýta það þegar það kemur aftur til vinnu.</p>

<p><img src="/media/opid-rymi/os-closing-ai2011.jpg" alt="os-closing-ai2011" title="os-closing-ai2011" class="center"><br>
</p>

<p>Ef þú vilt vita meira um Opið rými tæknina geturðu skoðað eftirfarandi:</p>

<ul>
<li><span><a href="http://www.openspaceworld.org" class="external" target="_blank" title="Open Space World (Opnast í nýjum vafraglugga)">Open Space World <span class="icon">(Opnast í nýjum vafraglugga)</span> </a></span></li>

<li><span><em>Open Space Technology: A User's Guide Third Edition</em> eftir Harrison Owen</span></li>
</ul>
